@import "../../../../styles.scss";
.heading {
  text-align: center;
}

.team_logo {
  height: 1.5rem;
  width: 1.5rem;
  mix-blend-mode: multiply;
  object-fit: contain;
  object-position: 50% 50%;
}

.calendar-container {
  height: 30rem;
  overflow-y: scroll;
}

.table {
  &-container {
    width: 75%;
    border-top: 2px solid $color-text-secondary;
    border-bottom: 2px solid $color-text-secondary;
    border-collapse: collapse;
    table-layout: fixed;
  }
  &-row {
    height: 2.5rem;
    border-bottom: 2px solid $color-text-secondary;
    td {
      text-align: center;
    }
  }
  &-cell {
    min-width: 2.5%;
    padding: 10px;
    &-border {
      border-right: $color-text-secondary 1px solid;
    }
  }
}
