<h1 class="heading">Calendar</h1>
<div class="calendar-container">
    <table class="table-container">
        <tr class="table-row" *ngFor="let match of calendar">
            <td><img class="team_logo " [src]="match.local.logo " [alt]="match.local.name "> <strong> {{match.local.name}} </strong></td>
            <td>
                <strong>{{match.score}}</strong>
            </td>
            <td><strong> {{match.visit.name}} </strong> <img class="team_logo " [src]="match.visit.logo " [alt]="match.visit.name "> </td>
        </tr>
    </table>
</div>