@import "../../../../styles.scss";
.heading {
  text-align: center;
}

.team_logo {
  height: 1.5rem;
  width: 1.5rem;
  mix-blend-mode: multiply;
  object-fit: contain;
  object-position: 50% 50%;
}

.calendar-container {
  max-height: 30rem;
  overflow-y: auto;
  display: flex;
  align-items: center;
}

.round-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    color: $color-primary;
  }
}

.table {
  &-container {
    width: 75%;
    border-top: 2px solid $color-text-secondary;
    border-bottom: 2px solid $color-text-secondary;
    border-collapse: collapse;
    table-layout: fixed;
  }
  &-row {
    height: 2.5rem;
    border-bottom: 2px solid $color-text-secondary;
    td {
      text-align: center;
    }
  }
  &-cell {
    min-width: 2.5%;
    padding: 10px;
    &-border {
      border-right: $color-text-secondary 1px solid;
    }
  }
}

.navigation {
  &-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &-button {
    cursor: pointer;
  }
}

.left {
  transform: rotate(180);
}

.right {
  transform: rotate(90);
}

@media (max-width: $mobile) {
  .team {
    &_label {
      display: none;
    }
    &_logo {
      height: 3rem;
      width: 3rem;
    }
  }
}
