<div class="main-container">
    <div class="card-container">
        <h1>Welcome Back</h1>
        <img class="user-image" src="../../../../assets/icons/person.svg" alt="user-img">

        <form class="login-form" action="">
            <input class="login-form-input" type="text" placeholder="Email">
            <input class="login-form-input" type="password" placeholder="Password">
            <button class="login-form-button">Login</button>
        </form>

        <small>Don't have an account yet? <a href="/signup">signup</a></small>
    </div>
</div>
