<ng-container *ngIf="team$ |async as team">

    <div class="card__container" [@appearAnimation]="team ? 'selected':'void'">
        <div class="card__action-buttons-container">
            <img class="card__action-buttons" [src]=" favAux ?  '../../../assets/icons/favorite.svg' : '../../../assets/icons/heart-empty.svg'" alt="favorite" (click)="onFavorite()">


            <img class="card__action-buttons" src="../../../assets/icons/close.svg" alt="favorite" (click)="onClose()">


        </div>

        <div class="card__main-container">
            <div class="card__info-container">
                <img class="card__info-image" [src]="team.logo" [alt]="team.name">

                <strong class="card__info-name">{{team.name}}</strong>
            </div>
            <div class="card__info-details">
                <div class="card__info-championships-container">
                    <ng-container *ngFor="let item of team.totalChampionships">
                        <img class="card__info-championships-image" src="../../../assets/icons/trophy.svg" alt="*">
                    </ng-container>
                    <ng-container *ngIf="team.totalChampionships.length === 0">
                        <img class="card__info-championships-image" src="../../../assets/icons/x.svg" alt="NA">
                    </ng-container>
                </div>
                <div class="card__extended-details-container">
                    <div class="card__extended-details-card">
                        <div class="tooltip">
                            <span class="tooltiptext">Tournaments</span>
                            <img class="card__extended-details-card-image" src="../../../assets/icons/tactics-board.svg" alt="*">
                        </div>
                        <h5 class="card__extended-details-card-info" *ngFor="let tournament of team.tournaments"> {{tournament}}</h5>
                    </div>
                    <div class="card__extended-details-card">
                        <div class="tooltip">
                            <span class="tooltiptext">Goals Average and Total</span>
                            <img class="card__extended-details-card-image" src="../../../assets/icons/scoreboard.svg" alt="*">
                        </div>

                        <div class="card__extended-details-card-info-container">
                            <h3 class="card__extended-details-card-info">{{team.goalsAverage}}</h3>
                            <h3 class="card__extended-details-card-info">{{team.totalGoalsScored}}</h3>
                        </div>
                    </div>


                    <div class="card__extended-details-card">
                        <div class="tooltip">
                            <span class="tooltiptext">Goals Against Average and Total</span>
                            <img class="card__extended-details-card-image" src="../../../assets/icons/scoreboard-alt.svg" alt="*">
                        </div>

                        <div class="card__extended-details-card-info-container">
                            <h3 class="card__extended-details-card-info">{{team.goalsAgainstAverage}}</h3>
                            <h3 class="card__extended-details-card-info">{{team.totalGoalsAgainst}}</h3>
                        </div>
                    </div>

                    <div class="card__extended-details-card">
                        <div class="tooltip">
                            <span class="tooltiptext">Actual/Best Winning Streak</span>
                            <img class="card__extended-details-card-image" src="../../../assets/icons/achievement.svg" alt="*">
                        </div>

                        <div class="card__extended-details-card-info-container">
                            <h3 class="card__extended-details-card-info">{{team.actualWinningStreak}}</h3>
                            <h3 class="card__extended-details-card-info">{{team.bestWinningStreak}}</h3>
                        </div>
                    </div>

                    <div class="card__extended-details-card">
                        <div class="tooltip">
                            <span class="tooltiptext">Actual/Best Losing Streak</span>
                            <img class="card__extended-details-card-image" src="../../../assets/icons/decline.svg" alt="*">
                        </div>

                        <div class="card__extended-details-card-info-container">
                            <h3 class="card__extended-details-card-info">{{team.actualLoosingStreak}}</h3>
                            <h3 class="card__extended-details-card-info">{{team.bestLoosingStreak}}</h3>
                        </div>
                    </div>

                    <div class="card__extended-details-card">
                        <div class="tooltip">
                            <span class="tooltiptext">Best Win / Worst Lose</span>
                            <img class="card__extended-details-card-image" src="../../../assets/icons/timeline.svg" alt="*">
                        </div>

                        <div class="card__extended-details-card-info-container">
                            <h3 class="card__extended-details-card-info">{{team.bestWin}}</h3>
                            <h3 class="card__extended-details-card-info">{{team.worstLose}}</h3>
                        </div>
                    </div>

                    <div class="card__extended-details-card">
                        <div class="tooltip">
                            <span class="tooltiptext">Won/Lose Average</span>
                            <img class="card__extended-details-card-image" src="../../../assets/icons/bar-average.svg" alt="*">
                        </div>

                        <div class="card__extended-details-card-info-container">
                            <h3 class="card__extended-details-card-info">{{team.wonGamesAverage}}</h3>
                            <h3 class="card__extended-details-card-info">{{team.loosedGamesAverage}}</h3>
                        </div>
                    </div>

                    <div class="card__extended-details-card">
                        <div class="tooltip">
                            <span class="tooltiptext">Won/Lose Ratio</span>
                            <img class="card__extended-details-card-image" src="../../../assets/icons/graph.svg" alt="*">
                        </div>

                        <div class="card__extended-details-card-info-container">
                            <h3 class="card__extended-details-card-info">{{team.wonLoosedRatio}} </h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="card__footer">
            <button class="card__footer-button">See More Details</button>
        </div>

    </div>
</ng-container>
