<div class="container" *ngIf="PlayoffsCalendar$ | async as calendar">
    <h1>Playoffs</h1>
    <div class="tournament-bracket tournament-bracket--rounded">
        <div class="tournament-bracket__round tournament-bracket__round--quarterfinals" *ngFor="let phase of calendar">
            <h3 class="tournament-bracket__round-title">{{ phase.length === 4 ? 'Quarterfinals' : phase.length === 2 ? 'Semifinals' : 'Final'}}</h3>
            <ul class="tournament-bracket__list">
                <li class="tournament-bracket__item" *ngFor="let match of phase; let idx = index">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">
                            <thead class="sr-only">
                                <tr>
                                    <th>Team</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__team">
                                        <abbr class="tournament-bracket__code">{{match.local.team.name}}</abbr>
                                        <img class="tournament-bracket__logo" [src]="match.local.team.logo ?? '../../../../assets/icons/person.svg'" alt="team_logo">
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <strong class="tournament-bracket__number">{{match.localScore}}</strong>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__team">
                                        <abbr class="tournament-bracket__code">{{match.visit.team.name}}</abbr>
                                        <img class="tournament-bracket__logo" [src]="match.visit.team.logo ?? '../../../../assets/icons/person.svg'" alt="team_logo">
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <strong class="tournament-bracket__number">{{match.visitScore}}</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>


    </div>

    <button class="play-match-btn" (click)="playMatch(calendar)" *ngIf="showButton"><img src="'../../../../../assets/icons/default-tournament-logo.svg" alt=""></button>
</div>

<div style="margin-top: 5rem;"></div>