<div class="card__container" [ngClass]="team.isFavorite ? 'isFavorite' : null" (mouseenter)="onMouseEvent()" (mouseleave)="onMouseEvent()" [@hoverAnimation]="isMouseIn ? 'hover':'void'">
    <div *ngIf="options.showDetails" class="card__action-buttons-container">

        <img class="card__action-buttons" [src]=" team.isFavorite ?  '../../../assets/icons/favorite.svg' : '../../../assets/icons/heart-empty.svg'" alt="favorite" (click)="onFavorite(team)" alt="favorite">

        <div style="display: initial">
            <img class="card__action-buttons" style="margin-left: 50%;" src="../../../assets/icons/dots.svg" alt="actions" (click)="openMenu = !openMenu">
            <ul class="card__action-buttons-menu" [ngStyle]="{'display': openMenu ? 'block' : 'none' }" (mouseleave)="openMenu=! openMenu">
                <li class="card__action-buttons-item" (click)="onEdit(team._id)">
                    <span>
                    <img src="../../../assets/icons/edit.svg" alt="edit"> Edit
                  </span>
                </li>
                <li class="card__action-buttons-item " (click)="onDelete(team._id)">
                    <span>
                    <img src="../../../assets/icons/delete.svg" alt="delete"> Delete
                  </span>
                </li>
            </ul>
        </div>

    </div>

    <div (click)="options.isSelectable ? handleTeamSelection(team) : null ">

        <div class="card__info-container ">
            <img class="card__info-image " [src]="team.logo " [alt]="team.name ">

            <strong class="card__info-name ">{{team.name}}</strong>


        </div>
        <ng-container *ngIf="options.showDetails">
            <hr class="separator ">
            <div class="card__championships-container ">
                <ng-container *ngFor="let championship of team.totalChampionships">
                    <strong>{{championship.tournament.name}}</strong>
                    <div>
                        <img *ngFor="let star of getStarsArray(championship.value)" class="card__championships-image " src="../../../assets/icons/trophy.svg " alt="* ">
                    </div>
                </ng-container>
                <ng-container *ngIf="team.totalChampionships.length === 0 ">
                    <img class="card__championships-image " src="../../../assets/icons/x.svg " alt="NA ">
                </ng-container>
            </div>
            <hr class="separator ">

        </ng-container>


    </div>