<div class="main-nav__container" (mouseenter)="onMouseEvent()" (mouseleave)="onMouseEvent()" [@headerAnimation]="isMouseIn ? 'hover':'void'">
    <div class="brand-logo__container" routerLink="/">
        <div class="logo__container">
            <img src="../../../../assets/icons/logo.svg" alt="logo" class="logo__image">
        </div>
        <strong>{{appName.primary}}</strong>
        <p>{{appName.secondary}}</p>
    </div>

    <div class="nav-links">
        <ng-container *ngFor="let navLink of navLinks">
            <a [href]="navLink.link">{{navLink.label}}</a>
        </ng-container>
        <button>Login</button>
    </div>
</div>
