<div class="main-container" *ngIf="editTournamentForm">
    <div class="card-container">
        <h1>Edit Tournament</h1>
        <img class="user-image" [src]="editTournamentForm.get('logo').value" alt="logo">

        <form (ngSubmit)="onSubmit()" [formGroup]="editTournamentForm" class="login-form">
            <input [formControlName]="'logo'" formControlName="Logo" [ngStyle]="" class="login-form-input" type="text" placeholder="Logo">
            <input [formControlName]="'name'" [ngStyle]="" class=" login-form-input" type="text" placeholder="Name">
            <div class="dynamic-form-input">
                <ng-select [formControlName]="'teams'" [multiple]="true" bindLabel="name" bindValue="id" [items]="teamsOptions$ | async" [placeholder]="getMultipleInputLabel()" dropdownPosition="top" [maxSelectedItems]="20" [hideSelected]="true" [selectOnTab]="true"
                    [virtualScroll]="true" appendTo="ng-select"></ng-select>
            </div>
            <button class="login-form-button " [disabled]="">Save!</button>
        </form>


    </div>
</div>