@import "../../../../../styles.scss";
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  // All display height - header height - footer height
  height: calc(100vh - 75px - 90px);
  font-family: $regular;
  text-align: center;
}

.card-container {
  border: 1px solid black;
  background-color: #8297a7;
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: $color-text-primary;
  width: 60%;
}

.user-image {
  background-color: $color-secondary;
  height: 150px;
  width: 150px;
  border-radius: 60%;
  margin-bottom: 1rem;
  margin: 2rem 0;
}

.login {
  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: auto;
    &-input {
      margin-top: 1rem;
      border-radius: 20px;
      height: 25px;
      border: 1px solid $color-secondary;
      color: $color-text-secondary;
      font-family: $regular;
      padding-left: 10px;
      font-weight: bolder;
      width: 100%;
      text-align: center;
    }
    &-button {
      margin: 1rem;
      border: 0;
      height: 40px;
      width: 100px;
      border-radius: 10px;
      background-color: $color-secondary;
      color: $color-primary;
      cursor: pointer;
      &:hover {
        color: $color-secondary;
        background-color: $color-primary;
      }
      &:disabled {
        background-color: $color-primary;
        color: $color-secondary;
      }
    }
  }
}

.dynamic {
  &-form {
    &-input {
      margin-top: 1rem;
      border-radius: 20px;
      min-height: 25px;
      border: 1px solid $color-secondary;
      color: $color-text-secondary;
      font-family: $regular;
      padding-left: 10px;
      font-weight: bolder;
      width: 100%;
      text-align: center;
      background-color: $color-secondary;
    }
  }
}

::ng-deep {
  .ng-dropdown-panel-items.scroll-host {
    background-color: $color-secondary;
    border-radius: 20px;
  }
  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 25px;
    background-color: $color-primary;
    max-height: 20%;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $color-secondary;
    border-radius: 25px;
  }
  .ng-option {
    padding: 0.5rem;
  }
  .ng-option:hover {
    background-color: $color-primary;
  }
  .ng-value {
    padding-left: 0.5rem;
  }
  .ng-placeholder {
    width: 100%;
    text-align: center;
  }
}
