<ng-container *ngIf="team$ | async as team; else noTeamSelected">

    <div class="inner-container">
        <ng-container *ngIf=" teamStatistics$ | async as statistics">

            <div class="card-container">
                <!-- Main info -->
                <div class="main-info">
                    <img [src]="team.logo" alt="logo">
                </div>
                <h1>{{team.name ?? 'NA' }}</h1>

            </div>

            <div class="grid">

                <div class="card-container">
                    <h2> Matches </h2>
                    <h3>Total Matches: {{statistics[0]?.teamHistoricalData?.totalGamesPlayed ?? 'NA' }}</h3>

                    <div style="width: 100%;">
                        <canvas #totalGamesChart id="totalGamesChart"></canvas>
                    </div>
                </div>

                <div class="card-container">
                    <h2> Goals </h2>
                    <h3> Diff: {{statistics[0]?.teamHistoricalData?.goalsDiff ?? 'NA' }}</h3>
                    <!-- Goals -->
                    <div style="width: 100%">
                        <canvas #totalGoalsChart id="totalGoalsChart"></canvas>
                    </div>
                </div>


            </div>

            <div class="card-container">
                <div class="grid">
                    <div>
                        <h2> Averages </h2>

                        <!-- Average -->
                        <h3>Goals Scored Average: <span [ngStyle]=" getStreaksAverageStyles(statistics[0]?.teamHistoricalData?.goalsAverage, 1, 'green')">{{statistics[0]?.teamHistoricalData?.goalsAverage?.toFixed(2) ?? 'NA' }}</span></h3>
                        <h3>Goals Against Average: <span [ngStyle]=" getStreaksAverageStyles(statistics[0]?.teamHistoricalData?.goalsAgainstAverage, 1, 'green')">{{statistics[0]?.teamHistoricalData?.goalsAgainstAverage?.toFixed(2) ?? 'NA' }}</span></h3>
                        <h3>Won Matches Average: <span [ngStyle]=" getStreaksAverageStyles(statistics[0]?.teamHistoricalData?.wonGamesAverage, 0.5, 'green')">{{statistics[0]?.teamHistoricalData?.wonGamesAverage?.toFixed(2) ?? 'NA' }}</span></h3>
                        <h3>Lost Matches Average: <span [ngStyle]=" getStreaksAverageStyles(statistics[0]?.teamHistoricalData?.lostGamesAverage, 0.5, 'red')">{{statistics[0]?.teamHistoricalData?.lostGamesAverage?.toFixed(2) ?? 'NA' }}</span></h3>
                        <h3>Win-Lose Ratio: <span [ngStyle]=" getStreaksAverageStyles(statistics[0]?.teamHistoricalData?.wonLostRatio, 0.5, 'green')">{{statistics[0]?.teamHistoricalData?.wonLostRatio.toFixed(2) ?? 'NA' }}</span></h3>

                    </div>
                    <div>
                        <h2> Streaks </h2>

                        <!-- Streaks -->
                        <h3>Actual Winning Streak: <span [ngStyle]=" getStreaksAverageStyles(statistics[0]?.teamHistoricalData?.actualWinningStreak, 0, 'green')">{{statistics[0]?.teamHistoricalData?.actualWinningStreak ?? 'NA' }}</span></h3>
                        <h3>Best Winning Streak: <span [ngStyle]=" getStreaksAverageStyles(statistics[0]?.teamHistoricalData?.bestWinningStreak, 0, 'green')">{{statistics[0]?.teamHistoricalData?.bestWinningStreak ?? 'NA' }}</span></h3>
                        <h3>Actual Losing Streak: <span [ngStyle]=" getStreaksAverageStyles(statistics[0]?.teamHistoricalData?.actualLostStreak, 0, 'red')">{{statistics[0]?.teamHistoricalData?.actualLostStreak ?? 'NA' }}</span></h3>
                        <h3>Best Losing Streak: <span [ngStyle]=" getStreaksAverageStyles(statistics[0]?.teamHistoricalData?.bestLostStreak, 0, 'red')">{{statistics[0]?.teamHistoricalData?.bestLostStreak ?? 'NA' }}</span></h3>
                    </div>

                </div>
            </div>

            <div class="grid">
                <div class="card-container">
                    <h2>Championships Won: </h2>

                    <div class="d-flex">
                        <table class="table" cellSpacing="0">
                            <tr>
                                <th class="table-cell table-cell-border">Team</th>
                                <th class="table-cell  table-cell-border">Tournament Won</th>
                                <th class="table-cell  table-cell-border">Times</th>
                            </tr>
                            <tr *ngFor="let teamData of finalsWonAgainstData$ |async">
                                <td class="table-cell  table-cell-border"><img style="height: 15px; width: 15px;" [src]="teamData.team.logo" [alt]="teamData.team.name">
                                    <strong>{{teamData.team.name}}</strong>
                                </td>
                                <td class="table-cell  table-cell-border">{{teamData.team.tournament}}</td>
                                <td class="table-cell  table-cell-border">{{teamData.count}}</td>

                            </tr>
                        </table>
                    </div>

                    <div class="d-flex">
                        <table class="table" [cellSpacing]="0">
                            <tr *ngFor="let item of team.totalChampionships">
                                <th class="table-cell-border">
                                    <h5>{{item.tournament.name ?? 'NA' }}</h5>
                                </th>
                                <th class=" table-cell-border ">
                                    <img class="championships-image " src="../../../assets/icons/trophy.svg " alt="* "> <strong>x {{item.value}}</strong>
                                    <ng-container *ngIf="team.totalChampionships?.length===0 ">
                                        <img class="championships-image " src="../../../assets/icons/x.svg " alt="NA ">
                                    </ng-container>
                                </th>
                            </tr>
                        </table>
                    </div>

                </div>


                <div class="card-container ">
                    <h3>Total Finals Lost: {{statistics[0].finalsData?.finalsLost ?? 'NA' }}</h3>

                    <div class="d-flex ">
                        <table class="table " cellSpacing="0 ">
                            <tr>
                                <th class="table-cell table-cell-border ">Team</th>
                                <th class="table-cell table-cell-border ">Tournament Lost</th>
                                <th class="table-cell table-cell-border ">Times</th>
                            </tr>
                            <tr *ngFor="let teamData of finalsLostAgainstData$ |async ">
                                <td class="table-cell table-cell-border "><img style="height: 15px; width: 15px; " [src]="teamData.team.logo " [alt]="teamData.team.name ">
                                    <strong>{{teamData.team.name}}</strong>
                                </td>
                                <td class="table-cell table-cell-border ">{{teamData.team.tournament}}</td>
                                <td class="table-cell table-cell-border ">{{teamData.count}}</td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>


            <div class="card-container ">
                <div class="row ">
                    <div>
                        <app-tournaments-card *ngFor="let tournament of team.tournaments " [options]="{showActionButtons: false} " [tournament]="tournament "></app-tournaments-card>
                        <h3>Total Tournaments: {{team?.tournaments?.length ?? 'NA' }}</h3>
                    </div>
                </div>
            </div>


        </ng-container>

    </div>



</ng-container>

<ng-template #noTeamSelected>
    <div class="card-container ">
        <div class="inner-container d-flex ">
            <div class="main-info ">
                <img src="../../../../assets/icons/select-team.svg " alt="Select Team ">
                <h1>Please select a team.</h1>
            </div>
        </div>
    </div>
</ng-template>