@import "../../../../styles.scss";
h1 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

.card-container {
  background-color: $color-text-primary;
  height: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 1% 0;
  font-family: $regular;
  padding: 2% 5%;
  margin-top: 50px;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  text-align: center;
  &-no-center {
    align-items: unset !important;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  text-align: center;
  margin: 1rem 0;
  width: 100%;
  align-items: center;
}

.championships-image {
  height: 25px;
  width: 25px;
}

ul {
  list-style-type: none;
  padding: 0;
}

canvas {
  display: inline !important;
  max-width: 350px;
  max-height: 350px;
}

.main-info {
  display: flex;
  justify-content: center;
  img {
    height: 500px;
    object-fit: cover;
    object-position: 50% 50%;
    mix-blend-mode: multiply;
  }
}

@media (max-width: $mobile) {
  .main-info {
    img {
      height: 50vw;
    }
  }
}

.tournaments-info {
  border-radius: 5%;
  margin: 1%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  font-size: 0.75rem;
  text-align: center;
  margin-top: 1rem;
  &-row {
    height: 2.5rem;
    border-bottom: 2px solid $color-text-secondary;
  }
  &-cell {
    min-width: 2.5%;
    padding: 10px;
    &-border {
      border: $color-text-secondary 1px solid;
    }
  }
}

@media (max-width: $mobile) {
  .grid {
    display: flex;
    flex-direction: column;
    align-items: normal;
    grid-gap: 0;
  }
}
