<div class="main-nav__container" (mouseenter)="onMouseEvent()" (mouseleave)="onMouseEvent()" [@headerAnimation]="isMouseIn ? 'hover':'void'">
    <div class="brand-logo__container" routerLink="/login">
        <div class="logo__container">
            <img src="../../../../assets/icons/logo-alt.png" alt="logo" class="logo__image">
        </div>
        <div class="logo__label">
            <strong>{{appName.primary}}</strong>
            <p>{{appName.secondary}}</p>
        </div>
    </div>

    <ul class=" nav-links" [ngClass]="showMenu ? 'enter-from-left' : 'hide-to-left'">
        <ng-container *ngIf="isLoggedIn">
            <ng-container *ngFor="let navLink of navLinks ">
                <li> <a [routerLink]="navLink.link ">{{navLink.label}}</a></li>
            </ng-container>
        </ng-container>
        <li><button [routerLink]="buttonObj.link " (click)="onClick() ">{{buttonObj.label}}</button></li>
        <img class="icon" (click)="onHamburgerMenuClick()" class="icon " src="../../../../../assets/icons/close.svg " alt="menu ">
    </ul>
    <div class="nav-links__mobile" (click)="onHamburgerMenuClick()">
        <img class="icon" src="../../../../../assets/icons/menu.svg " alt="menu ">
    </div>
</div>