@import "../../../../../styles.scss";
.main-nav {
  &__container {
    display: flex;
    justify-content: space-between;
    height: 75px;
    background-color: $color-primary;
    align-items: center;
    font-family: $regular;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    .brand-logo {
      &__container {
        display: flex;
        align-items: center;
        font-size: 2rem;
        color: $color-text-primary;
        cursor: pointer;
      }
    }
    .logo {
      &__image {
        height: 60px;
        background-color: $color-secondary;
        border-radius: 50%;
        margin: 0 10px;
      }
      &__label {
        display: flex;
        align-items: center;
        font-size: 2rem;
        @media (max-width: $mobile) {
          display: none;
        }
      }
    }
    .nav-links {
      display: flex;
      align-items: center;
      padding-right: 40px;
      .icon {
        display: none;
      }
      li {
        list-style: none;
      }
      &__links {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: $color-secondary;
        margin: 0 15px;
      }
      &__mobile {
        display: none;
      }
      a:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $color-secondary;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      a:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
      &__action-button {
        border: 0;
        height: 40px;
        width: 100px;
        border-radius: 10px;
        background-color: $color-secondary;
        color: $color-primary;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: $mobile) {
  .nav-links__mobile {
    display: block !important;
  }
  .logo__label,
  .nav-links {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    backdrop-filter: blur(50px);
    padding: 0;
    text-align: center;
    bottom: 0;
    margin: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &.enter-from-left {
      animation: enterFromLeft 1s forwards;
    }
    &.hide-to-left {
      animation: hideToLeft 1s forwards;
    }
    @keyframes enterFromLeft {
      from {
        opacity: 0;
        transform: translateX(-100%);
      }
      to {
        opacity: 0.85;
        transform: translateX(0);
      }
    }
    @keyframes hideToLeft {
      from {
        opacity: 1;
        transform: translateX(0);
      }
      to {
        opacity: 0;
        transform: translateX(-100%);
      }
    }
    &__mobile {
      padding-right: 40px;
    }
    &__links {
      font-size: 3rem;
      &-container {
        :hover {
          background-color: $color-primary;
        }
      }
    }
    &__action-button {
      height: 3rem !important;
      width: 30vw !important;
      font-size: 2rem;
    }
  }
}
