<div class="main-container">
    <ng-container *ngIf="(totalMatches$ | async) as totalMatches">
        <ng-container *ngIf="(tournament$  |async) as tournament">
            <ng-container *ngIf="(calendarMatchesShuffle$ | async) as calendarMatchesShuffle">

                <app-calendar *ngIf="(displayInfo$ |async) === 'calendar'" [calendar]="calendarMatchesShuffle"></app-calendar>
                <app-position-table *ngIf="(displayInfo$ |async) === 'positionTable'" [positionTable]="positionTable$ | async"></app-position-table>
                <app-playoffs *ngIf="(displayInfo$ |async) === 'playoffs'" [PlayoffsTeams$]="playoffsData$" [currentMatch]="currentMatchIndex$.value" [totalMatches]="totalMatches"></app-playoffs>
                <button class="play-tournament-btn" *ngIf="totalMatches > currentMatchIndex$.value" (click)="playMatch(calendarMatchesShuffle)"><img src="'../../../../../assets/icons/play.svg" alt=""></button>
                <nav class="nav-container">
                    <button class="nav-item" (click)="displayInfo$.next('playoffs')">Playoffs</button>
                    <button class="nav-item" (click)="displayInfo$.next('calendar')">Calendar</button>
                    <button class="nav-item" (click)="displayInfo$.next('positionTable')">Position Table</button>
                </nav>
            </ng-container>
        </ng-container>
    </ng-container>
</div>