@import "../../../styles.scss";
.main-container {
  background-color: $color-text-primary;
  height: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 1% 0;
  padding: 5%;
  font-family: $regular;
  position: relative;
}

.nav {
  &-container {
    margin: 1.5rem auto;
    display: flex;
    justify-content: space-around;
    width: 75%;
  }
  &-item {
    border-radius: 2rem;
    background-color: $color-text-secondary;
    color: $color-text-primary;
    border: 1px solid $color-primary;
    cursor: pointer;
    height: 2rem;
    width: 10rem;
    &:hover {
      color: $color-secondary;
      background-color: $color-primary;
    }
  }
}

.play-tournament-btn {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 5%;
  right: 5%;
  background-color: $color-text-secondary;
  border: 1px solid $color-primary;
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px $color-primary;
  &:hover {
    color: $color-secondary;
    background-color: $color-primary;
  }
}

::ng-deep {
  .swal2-shown .swal2-height-auto {
    font-family: $regular !important;
    .swal2-image {
      background-color: white;
      mix-blend-mode: multiply;
    }
  }
}
