@import "../../../styles.scss";
.card-container {
    margin: 5rem 0;
    text-align: center;
    font-family: $regular;
    .card {
        display: grid;
        grid-template-columns: repeat(auto-fill, 250px);
        grid-auto-rows: auto;
        gap: 1rem;
        flex-grow: 1;
    }
}