<div class="tournament" *ngIf="(tournament$ |async) as tournament; else NoData">
    <div class="tournament-grid tournament-grid__regular">
        <div class="tournament-card tournament-card__small">
            <div class="tournament-card__small-header">
                <h2 class="tournament-card__small-name">{{tournament.name}}</h2>
                <img class="tournament-card__small-image" [src]="tournament.logo" [alt]="tournament.name">
                <h4>Current edition: {{tournament.edition}}</h4>
            </div>
        </div>

        <div class="tournament-card tournament-card__small" *ngIf="(tournamentLastChampion$ | async) as champion" (click)="onClickTeam(champion._id)">
            <h2 class="tournament-card__small-name">Current Champion</h2>
            <img class="tournament-card__small-image" [src]="champion?.logo" [alt]="champion.name">
            <h4 class="tournament-card__small-name">{{champion?.name}}</h4>
        </div>
    </div>


    <div class="tournament-flex tournament-carousel">
        <div *ngFor="let team of tournament.teams">
            <div (click)="onClickTeam(team.name)" class="tournament-card tournament-card__small">
                <img class="tournament-card__small-team-image" [src]="team.logo" [alt]="team.name">
                <h3 class="tournament-card__small-name">{{team.name}}</h3>
                <div *ngFor="let championship of team.totalChampionships">
                    <strong>
                    <img class="tournament-card__small-trophy" src="../../../../assets/icons/trophy.svg" alt="cupEdition">
                     x {{championship.value}}
                  </strong>

                </div>
            </div>
        </div>

    </div>
    <div class="tournament-card tournament-canvas">
        <canvas #championshipsChart id="championshipsChart"></canvas>
    </div>
    <app-action-button [action]="'start'" [redirectTo]="tournament?._id"></app-action-button>
</div>
<ng-template #NoData>
    <div class="tournament">
        <app-no-data [dataType]="'Tournaments'" [title]="'No Tournament Found.'" [message]="'Please Select Another Tournament'"></app-no-data>
    </div>
</ng-template>