<app-header></app-header>

<div class="main-container">
    <router-outlet></router-outlet>
</div>

<p>Special Credits</p>
<a href="https://iconscout.com/icons/soccer" target="_blank">Soccer Icon</a> by <a href="https://iconscout.com/contributors/christian-mohr" target="_blank">MoM-digital</a>
<a href="https://iconscout.com/icons/seo" target="_blank">Trophy Icon</a> by <a href="https://iconscout.com/contributors/ecommdesign">EcommDesign</a> on <a href="https://iconscout.com">IconScout</a>
<a href="https://iconscout.com/icons/x" target="_blank">X Logo Icon</a> by <a href="https://iconscout.com/contributors/icon-mafia">Icon Mafia</a> on <a href="https://iconscout.com">IconScout</a>
<a href="https://iconscout.com/icons/heart" target="_blank">Heart Icon</a> by <a href="https://iconscout.com/contributors/piqodesign" target="_blank">Piqo Design</a>
<a href="https://iconscout.com/icons/heart" target="_blank">Heart Icon</a> by <a href="https://iconscout.com/contributors/piqodesign" target="_blank">Piqo Design</a>
<a href="https://iconscout.com/icons/back-arrow" target="_blank">Back arrow Icon</a> by <a href="https://iconscout.com/contributors/google-inc" target="_blank">Google Inc.</a>
<a href="https://www.flaticon.com/free-icons/more" title="more icons">More icons created by Kirill Kazachek - Flaticon</a>
<a href="https://iconscout.com/icons/soccer" target="_blank">Soccer Icon</a> by <a href="https://iconscout.com/contributors/aomam" target="_blank">AomAm .</a>
<a href="https://iconscout.com/icons/winner-badge" target="_blank">Winner Badge Icon</a> by <a href="https://iconscout.com/contributors/dinosoftlabs" target="_blank">Dinosoft Lab</a>
<a href="https://iconscout.com/icons/loser" target="_blank">Loser Icon</a> by <a href="https://iconscout.com/contributors/surang">Surangkana Jomjunyong</a> on <a href="https://iconscout.com">IconScout</a>
