<app-header></app-header>

<div class="main-container">
    <router-outlet></router-outlet>
</div>

<p>Special Credits</p>
<a href="https://iconscout.com/icons/soccer" target="_blank">Soccer Icon</a> by <a href="https://iconscout.com/contributors/christian-mohr" target="_blank">MoM-digital</a>
<a href="https://iconscout.com/icons/seo" target="_blank">Trophy Icon</a> by <a href="https://iconscout.com/contributors/ecommdesign">EcommDesign</a> on <a href="https://iconscout.com">IconScout</a>
<a href="https://iconscout.com/icons/x" target="_blank">X Logo Icon</a> by <a href="https://iconscout.com/contributors/icon-mafia">Icon Mafia</a> on <a href="https://iconscout.com">IconScout</a>
<a href="https://iconscout.com/icons/heart" target="_blank">Heart Icon</a> by <a href="https://iconscout.com/contributors/piqodesign" target="_blank">Piqo Design</a>
<a href="https://iconscout.com/icons/heart" target="_blank">Heart Icon</a> by <a href="https://iconscout.com/contributors/piqodesign" target="_blank">Piqo Design</a>
<a href="https://iconscout.com/icons/back-arrow" target="_blank">Back arrow Icon</a> by <a href="https://iconscout.com/contributors/google-inc" target="_blank">Google Inc.</a>
<a href="https://www.flaticon.com/free-icons/more" title="more icons">More icons created by Kirill Kazachek - Flaticon</a>
<a href="https://iconscout.com/icons/soccer" target="_blank">Soccer Icon</a> by <a href="https://iconscout.com/contributors/aomam" target="_blank">AomAm .</a>
<a href="https://iconscout.com/icons/winner-badge" target="_blank">Winner Badge Icon</a> by <a href="https://iconscout.com/contributors/dinosoftlabs" target="_blank">Dinosoft Lab</a>
<a href="https://iconscout.com/icons/loser" target="_blank">Loser Icon</a> by <a href="https://iconscout.com/contributors/surang">Surangkana Jomjunyong</a> on <a href="https://iconscout.com">IconScout</a>
<a href="https://iconscout.com/icons/close" target="_blank">Close Icon</a> on <a href="https://iconscout.com">IconScout</a>
<a href="https://iconscout.com/icons/tactics-board" target="_blank">Tactics Board Icon</a> by <a href="https://iconscout.com/contributors/icon-lauk" target="_blank">IconLauk</a>
<a href="https://iconscout.com/icons/business-timeline" target="_blank">Business Timeline Icon</a> by <a href="https://iconscout.com/contributors/kiran-shastry" target="_blank">Kiran Shastry</a>
<a href="https://iconscout.com/icons/bar-average" target="_blank">Bar Average Icon</a> by <a href="https://iconscout.com/contributors/Redmatric%20Studio">Redma Studio</a> on <a href="https://iconscout.com">IconScout</a>
<a href="https://iconscout.com/icons/graph" target="_blank">Graph Icon</a> by <a href="https://iconscout.com/contributors/jemismali" target="_blank">Jemis Mali</a>
<a href="https://iconscout.com/icons/favorite" target="_blank">Favorite Icon</a> by <a href="https://iconscout.com/contributors/promotion-king" target="_blank">Rank Sol</a>
<a href="https://iconscout.com/icons/employee-selection" target="_blank">Employee Selection Icon</a> by <a href="https://iconscout.com/contributors/friend4331" target="_blank">ginkaewicons</a>
