<div class="main-nav__container">
    <div class="brand-logo__container" routerLink="#">
        <div class="logo__container">
            <img src="../../../../assets/icons/copyright.svg" alt="copyright" class="logo__image">
        </div>
        <strong>{{developer}} - </strong>
        <p> {{year}}</p>
    </div>

    <div class="nav-links">
        <ng-container *ngFor="let navLink of navLinks">
            <a [href]="navLink.link">{{navLink.label  }}</a>
        </ng-container>
    </div>
</div>
