<div class="main-nav__container">
    <a class="brand-logo__container" href="https://github.com/PerseOMG" target="_blank">
        <div class="logo__container">
            <img src="../../../../assets/icons/copyright.svg" alt="copyright" class="logo__image">
        </div>
        <strong>{{developer}} - </strong>
        <p> {{year}}</p>
    </a>
    <div class="version">
        <strong>Version {{appVersion}}</strong>
    </div>
    <div class="nav-links">
        <ng-container *ngFor="let navLink of navLinks">
            <a [routerLink]="navLink.link">{{navLink.label}}</a>
        </ng-container>
    </div>
</div>