<ng-container *ngIf="team$ | async as team ; else noTeamSelected">
    <div class="main-container">

        <div class="inner-container">

            <ng-container *ngIf=" teamStatistics$ | async as statistics">
                <div class="grid">

                    <!-- Main info -->
                    <div class="main-info">
                        <img [src]="team.logo" alt="logo">
                        <h3>{{team.name}}</h3>
                    </div>

                    <!-- Championships -->
                    <div class="tournaments-info">
                        <h1>Championships</h1>

                        <h3>Tournaments:

                            <ul>
                                <li *ngFor="let tournament of team.tournaments"> <strong>{{tournament.name}}</strong> </li>
                            </ul>
                        </h3>


                        <div class="row">
                            <h3>Total Tournaments: {{team.tournaments.length}}</h3>
                        </div>


                        <div class="row">
                            <h3>Championships Won:
                                <ng-container *ngFor="let item of team.totalChampionships">
                                    <img class="championships-image" src="../../../assets/icons/trophy.svg" alt="*">
                                </ng-container>
                                <ng-container *ngIf="team.totalChampionships?.length === 0">
                                    <img class="championships-image" src="../../../assets/icons/x.svg" alt="NA">
                                </ng-container>
                            </h3>
                        </div>
                        <div class="row">
                            <h3>Total Tournaments Played: {{statistics?.teamHistoricalData?.totalChampionshipsPlayed}}</h3>
                        </div>
                        <div class="row">
                            <!-- Finals -->
                            <h3>Total Lose Finals: {{statistics.finalsData?.totalLoosedFinals}}</h3>
                        </div>
                    </div>
                </div>

                <!-- Actual Info -->
                <div class="grid">
                    <div class="section-info">
                        <!-- Games -->
                        <h1> Games </h1>
                        <div style="width: 100%;">
                            <canvas #totalGamesChart id="totalGamesChart"></canvas>
                        </div>
                        <h3>Total Games Played: {{statistics?.teamHistoricalData?.totalGamesPlayed}}</h3>
                        <h3>Best Win Score: {{statistics?.teamHistoricalData?.bestWin}}</h3>
                        <h3>Worst Losing Score: {{statistics?.teamHistoricalData?.worstLose}}</h3>
                        <h3>Last Win: {{statistics?.teamHistoricalData?.lastWin}}</h3>
                        <h3>Last Defeat: {{statistics?.teamHistoricalData?.lastDefeat}}</h3>
                    </div>

                    <div class="section-info">
                        <h1> Goals </h1>

                        <!-- Goals -->
                        <div style="width: 100%">
                            <canvas #totalGoalsChart id="totalGoalsChart"></canvas>
                        </div>
                        <h3>Goals Diff: {{statistics?.teamHistoricalData?.goalsDiff}}</h3>
                    </div>
                    <div class="section-info">
                        <h1> Averages </h1>

                        <!-- Average -->
                        <h3>Goals Scored Average: {{statistics?.teamHistoricalData?.goalsAverage}}</h3>
                        <h3>Goals Against Average: {{statistics?.teamHistoricalData?.goalsAgainstAverage}}</h3>
                        <h3>Won Games Average: {{statistics?.teamHistoricalData?.wonGamesAverage}}</h3>
                        <h3>Lost Games Average: {{statistics?.teamHistoricalData?.loosedGamesAverage}}</h3>
                        <h3>Win-Lose Ratio: {{statistics?.teamHistoricalData?.wonLoosedRatio}}</h3>

                    </div>
                    <div class="section-info">
                        <h1> Streaks </h1>

                        <!-- Streaks -->
                        <h3>Actual Winning Streak: {{statistics?.teamHistoricalData?.actualWinningStreak}}</h3>
                        <h3>Best Winning Streak: {{statistics?.teamHistoricalData?.bestWinningStreak}}</h3>
                        <h3>Actual Losing Streak: {{statistics?.teamHistoricalData?.actualLoosingStreak}}</h3>
                        <h3>Best Losing Streak: {{statistics?.teamHistoricalData?.bestLoosingStreak}}</h3>
                    </div>

                </div>
            </ng-container>

        </div>

    </div>

</ng-container>

<ng-template #noTeamSelected>
    <div class="main-container">
        <div class="inner-container d-flex">
            <div class="main-info">
                <img src="../../../../assets/icons/select-team.svg" alt="Select Team">
                <h1>Please select a team.</h1>
            </div>
        </div>
    </div>
</ng-template>