<ng-container *ngIf="team$ | async as team ; else noTeamSelected">
    <div class="main-container">

        <div class="inner-container">
            <h1>{{team.name ?? 'NA' }}</h1>

            <ng-container *ngIf=" teamStatistics$ | async as statistics">
                <div class="grid">

                    <!-- Main info -->
                    <div class="main-info">
                        <img [src]="team.logo" alt="logo">
                    </div>
                    <!-- Championships -->
                    <div class="tournaments-info">
                        <h2>Championships</h2>
                        <h3>Tournaments:</h3>
                        <app-tournaments-card *ngFor="let tournament of team.tournaments" [options]="{showActionButtons: false}" [tournament]="tournament"></app-tournaments-card>


                        <div class="row">
                            <h3>Total Tournaments: {{team.tournaments.length ?? 'NA' }}</h3>
                        </div>


                        <div class="row">
                            <h3>Total Tournaments Played: {{statistics[0]?.teamHistoricalData?.totalChampionshipsPlayed ?? 'NA' }}</h3>
                        </div>
                        <div class="row">
                            <!-- Finals -->
                            <h3>Total Finals Lost: {{statistics[0].finalsData?.totalLoosedFinals ?? 'NA' }}</h3>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <h2>Championships Won: </h2>

                    <table>
                        <tr *ngFor="let item of team.totalChampionships">
                            <th>
                                <h5>{{item.tournament ?? 'NA' }}</h5>
                            </th>
                            <th>
                                <img class="championships-image" *ngFor="let star of getStarsArray(item.value)" src="../../../assets/icons/trophy.svg" alt="*">
                                <ng-container *ngIf="team.totalChampionships?.length === 0">
                                    <img class="championships-image" src="../../../assets/icons/x.svg" alt="NA">
                                </ng-container>
                            </th>
                        </tr>
                    </table>
                </div>


                <!-- Actual Info -->
                <div class="grid">
                    <div class="section-info">
                        <!-- Games -->
                        <h2> Games </h2>
                        <div style="width: 100%;">
                            <canvas #totalGamesChart id="totalGamesChart"></canvas>
                        </div>
                        <h3>Total Games Played: {{statistics[0]?.teamHistoricalData?.totalGamesPlayed ?? 'NA' }}</h3>
                        <h3>Best Win Score: {{statistics[0]?.teamHistoricalData?.bestWin ?? 'NA' ?? 'NA' }}</h3>
                        <h3>Worst Losing Score: {{statistics[0]?.teamHistoricalData?.worstLose ?? 'NA' }}</h3>
                        <h3>Last Win: {{statistics[0]?.teamHistoricalData?.lastWin ?? 'NA' }}</h3>
                        <h3>Last Defeat: {{statistics[0]?.teamHistoricalData?.lastDefeat ?? 'NA' }}</h3>
                    </div>

                    <div class="section-info">
                        <h2> Goals </h2>

                        <!-- Goals -->
                        <div style="width: 100%">
                            <canvas #totalGoalsChart id="totalGoalsChart"></canvas>
                        </div>
                        <h3>Goals Diff: {{statistics[0]?.teamHistoricalData?.goalsDiff ?? 'NA' }}</h3>
                    </div>
                    <div class="section-info">
                        <h2> Averages </h2>

                        <!-- Average -->
                        <h3>Goals Scored Average: {{statistics[0]?.teamHistoricalData?.goalsAverage ?? 'NA' }}</h3>
                        <h3>Goals Against Average: {{statistics[0]?.teamHistoricalData?.goalsAgainstAverage ?? 'NA' }}</h3>
                        <h3>Won Games Average: {{statistics[0]?.teamHistoricalData?.wonGamesAverage ?? 'NA' }}</h3>
                        <h3>Lost Games Average: {{statistics[0]?.teamHistoricalData?.loosedGamesAverage ?? 'NA' }}</h3>
                        <h3>Win-Lose Ratio: {{statistics[0]?.teamHistoricalData?.wonLoosedRatio ?? 'NA' }}</h3>

                    </div>
                    <div class="section-info">
                        <h2> Streaks </h2>

                        <!-- Streaks -->
                        <h3>Actual Winning Streak: {{statistics[0]?.teamHistoricalData?.actualWinningStreak ?? 'NA' }}</h3>
                        <h3>Best Winning Streak: {{statistics[0]?.teamHistoricalData?.bestWinningStreak ?? 'NA' }}</h3>
                        <h3>Actual Losing Streak: {{statistics[0]?.teamHistoricalData?.actualLoosingStreak ?? 'NA' }}</h3>
                        <h3>Best Losing Streak: {{statistics[0]?.teamHistoricalData?.bestLoosingStreak ?? 'NA' }}</h3>
                    </div>

                </div>
            </ng-container>

        </div>

    </div>

</ng-container>

<ng-template #noTeamSelected>
    <div class="main-container">
        <div class="inner-container d-flex">
            <div class="main-info">
                <img src="../../../../assets/icons/select-team.svg" alt="Select Team">
                <h1>Please select a team.</h1>
            </div>
        </div>
    </div>
</ng-template>