@import "../../../../styles.scss";
.main-container {
    background-color: $color-text-primary;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 5% 0;
    font-family: $regular;
}

.inner-container {
    padding: 5%;
}

h1 {
    text-align: center;
}

li {
    padding-top: 1rem;
    list-style: none;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    &-no-center {
        align-items: unset !important;
    }
}
