<div *ngIf="!filterFields; else formTemplate" class="main-container">
    <img src="../../../../../assets/icons/circle-loader.gif" alt="loading-animation" style="height: 50vh;">
</div>

<ng-template #formTemplate>
    <div class="main-container">
        <div class="card-container">
            <h1>Create {{model | titlecase}}</h1>
            <form *ngIf="dynamicForm" [formGroup]="dynamicForm" class="dynamic-form" (ngSubmit)="onSubmit()">
                <img class="model-image" [src]="dynamicForm.get('logo').value ? dynamicForm.get('logo').value : getFormDefaultImage()" alt="default-img">
                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: filterFields,formGroup:dynamicForm }">
                </ng-container>
                <button class="dynamic-form-button" [disabled]="dynamicForm.invalid">Create</button>
            </form>
            <ng-template #recursiveList let-filterFields let-formGroup="formGroup">
                <ng-container *ngFor="let item of filterFields">
                    <ng-container *ngIf="item.type !== 'select'; else selectTemplate">
                        <input [type]="item.type" [ngStyle]="{'border-color': setControlInvalidStyle(item.key) ? 'red' : '' }" [formControl]="formGroup.get(item.key)" [placeholder]="item.title" [name]="item.key" class="dynamic-form-input">
                        <small *ngIf="item.errorMessage" style="color: red;">{{setControlInvalidStyle(item.key) ? item.errorMessage : null}}</small>
                        <small *ngIf="item.span">{{item.span}}</small>

                    </ng-container>
                    <ng-template #selectTemplate>
                        <div class="dynamic-form-input">
                            <ng-select class="custom" [formControl]="formGroup.get(item.key)" [multiple]="true" bindLabel="label" bindValue="value" [items]="item.options" [placeholder]="getMultiSelectPlaceholder(item)" dropdownPosition="top" [maxSelectedItems]="item.maxSelected"
                                [hideSelected]="true" [selectOnTab]="true" [virtualScroll]="true" appendTo="ng-select"></ng-select>
                        </div>
                        <small *ngIf="item.errorMessage" style="color: red;">{{onClose(item.key, item.errorMessage, item.maxSelected )}}</small>
                    </ng-template>
                </ng-container>
            </ng-template>
        </div>
    </div>
</ng-template>